{% extends "layout.html" %}

{% block content %}

<h1>{{ user.username }}の食事記録の追加</h1>
<a href="/index" role="button">ホーム</a>
<a href="/logout" role="button">ログアウト</a>
<a href="/profile" role="button">プロフィール</a>
<a href="/display_log" role="button">食事・筋トレ記録一覧</a>
<a href="/add_meal" role="button">食事記録追加</a>

<form method="post" action="/add_stretch">
  <label for="stretch">トレーニング内容:</label>
  <select id="stretch" name="stretch">
    {% for stretch in stretches %}
    <option value="{{ stretch.name }}">{{ stretch.name }}</option>
    {% endfor %}
  </select>
  <br>

  <label for="sets">セット数:</label>
  <input type="number" id="sets" name="sets">
  <br>

  <label for="reps">レップ数:</label>
  <input type="number" id="reps" name="reps">
  <br>

  <label for="setTime">セット時間 (秒):</label>
  <input type="number" id="setTime" name="setTime">
  <br>

  <button type="submit">追加</button>
</form>
{% endblock %}