{% extends "layout.html" %}

{% block content %}

<h1>{{ user.username }}の食事・筋トレ記録</h1>
<a href="/index" role="button">ホーム</a>
<a href="/logout" role="button">ログアウト</a>
<a href="/profile" role="button">プロフィール</a>
<a href="/add_meal" role="button">食事記録追加</a>
<a href="/add_stretch" role="button">筋トレ記録追加</a>


{% for meal_log in meal_logs %}
<article>
  <h2>{{ meal_log.meal }}</h2>
  <p>摂取量：{{ meal_log.amount }}g</p>
  <p>タンパク質：{{ meal_log.protein }}g</p>
  <p>炭水化物：{{ meal_log.carbs }}g</p>
  <p>脂質：{{ meal_log.fat }}g</p>
  <p>ビタミン：{{ meal_log.vitamins }}mg</p>
  <p>ミネラル：{{ meal_log.minerals }}mg</p>
  <p>日時：{{ meal_log.date }}</p>
</article>
{% endfor %}

{% for stretch_log in stretch_logs %}
<article>
  <h2>{{ stretch_log.stretch }}</h2>
  <p>回数：{{ stretch_log.reps }}回</p>
  <p>日時：{{ stretch_log.date }}</p>
</article>
{% endfor %}

{% endblock %}