{% extends "layout.html" %}

{% block content %}

<h1>{{ user.username }}の食事・筋トレ記録</h1>
<a href="/index" role="button">ホーム</a>
<a href="/logout" role="button">ログアウト</a>
<a href="/profile" role="button">プロフィール</a>
<a href="/add_meal" role="button">食事記録追加</a>
<a href="/add_stretch" role="button">筋トレ記録追加</a>

<h2>24時間以内の栄養素合計（棒グラフ）</h2>
<canvas id="nutrientChart" width="600" height="300"></canvas>
<script>
  window.nutrientLabels = ['タンパク質 [g]', '炭水化物 [g]', '脂質 [g]', 'ビタミン [g]', 'ミネラル [g]'];
  window.nutrientValues = {{ [
    recent_nutrients.protein|default(0)|float,
    recent_nutrients.carbs|default(0)|float,
    recent_nutrients.fat|default(0)|float,
    (recent_nutrients.vitamins|default(0)|float / 1000),
    (recent_nutrients.minerals|default(0)|float / 1000)
  ]|tojson }};
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/nutrients_graph.js"></script>


<h2>今日の食事記録</h2>
{% for recent_meal_log in recent_meal_logs %}
<article>
  <h3>{{ recent_meal_log.meal }}</h3>
  <a href="/{{ recent_meal_log.id }}/delete_meal" role="button">削除</a>
  <p>摂取量：{{ recent_meal_log.amount }}g</p>
</article>
{% endfor %}

<h2>全ての食事記録</h2>
{% for meal_log in meal_logs %}
<article>
  <h3>{{ meal_log.meal }}</h3>
  <a href="/{{ meal_log.id }}/delete_meal" role="button">削除</a>
  <p>摂取量：{{ meal_log.amount }}g</p>
  <span>カロリー：{{ meal_log.energy }}kcal</span>
  <br>
  <span>タンパク質：{{ meal_log.protein }}g</span>
  <span>炭水化物：{{ meal_log.carbs }}g</span>
  <span>脂質：{{ meal_log.fat }}g</span>
  <span>ビタミン：{{ meal_log.vitamins }}mg</span>
  <span>ミネラル：{{ meal_log.minerals }}mg</span>
  <p>日時：{{ meal_log.date.strftime('%Y-%m-%d %H:%M') }}</p>
</article>
{% endfor %}

<h2>全ての筋トレ記録</h2>
{% for stretch_log in stretch_logs %}
<article>
  <h3>{{ stretch_log.stretch }}</h3>
  <a href="/{{ stretch_log.id }}/delete_stretch" role="button">削除</a>
  <br>
  <span>セット数：{{ stretch_log.sets }}セット</span>
  <span>レップ数：{{ stretch_log.reps }}回</span>
  <span>セット時間：{{ stretch_log.setTime }}秒</span>
  <span>消費カロリー：{{ stretch_log.energy }}kcal</span>
  <p>日時：{{ stretch_log.date.strftime('%Y-%m-%d %H:%M') }}</p>
</article>
{% endfor %}

{% endblock %}